#app-main {
    width: 100%;
    height: 100%;
    // min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none !important;

    .app-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // max-width: 1920px;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        max-height: 100vh;


        .section-two {
            width: 36%;
            // min-width: 633px;
            background: #23FA4B;
            height: 100%;

            min-height: 100vh;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            z-index: -1;

            .mobile-background {
                display: none;
                height: 50%;
                min-height: 322px !important;
            }

            img {
                min-width: 632px;
                height: 87vh;
                max-height: 90vh;
                border-radius: 0px 64px 0px 0px;
                object-fit: cover;
                // margin-left: -360px;
                border-top: 6px solid #198430;
                border-right: 6px solid #198430;
                cursor: pointer;
                z-index: 999 !important;


            }

            p {
                // position: absolute;
                // padding: 24px;
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 24px !important;
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: bold;
                font-size: 54px;
                line-height: 113%;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                // border: 2.5px solid #111111;
                -webkit-text-stroke: 2.5px #111111;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                // transform: rotate(-90deg);
                color: #23FA4B;
            }
        }
    }

    @media only screen and (max-height: 636px) {
        .section-two {
            #expert-text {
                font-size: 32px !important;
            }
        }

    }

    @media only screen and (max-width: 1854px) {


        .section-two {

            // width: 38% !important;
            // min-width: 38% !important ;
            p {
                font-size: 48px !important;
            }

            img {
                width: 600px !important;
                min-width: 600px !important;

            }
        }


    }

    @media only screen and (max-width: 1658px) {


        .section-two {

            // width: 20% !important;
            // min-width: 34% !important;
            p {
                font-size: 42px !important;
                padding-left: 12px !important;
                padding-right: 12px !important;
            }

            img {
                width: 500px !important;
                min-width: 500px !important;
            }
        }
    }

    @media only screen and (max-width: 1262px) {
        .section-two {

            // padding-right: 32px !important;
            p {
                // display: none ;
            }
        }
    }


    @media only screen and (max-width: 1180px) {
        .section-two {
            padding-right: 16px !important;

            p {
                display: none;
            }

            img {
                width: 460px !important;
                min-width: 460px !important;
                margin-right: 12px !important;
            }
        }
    }

    @media only screen and (max-width: 948px) {

        .app-container {
            flex-direction: column-reverse !important;
            padding-bottom: 20px;
            min-height: fit-content !important;
            max-height: fit-content !important;

            .section-two {
                width: 100% !important;
                height: 100% !important;
                min-height: fit-content !important;
                background: none !important;
                min-width: fit-content !important;
                justify-content: flex-end;
                padding-right: 0px !important;

                //   background-color: blue !important;


                p {
                    //   display: none;
                    // color: #FFF;
                    display: none !important;
                }

                .mobile-background {
                    display: flex !important;
                    width: 187px;

                    background: #23FA4B;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    z-index: -10;
                }

                img {
                    margin-right: 16px;
                    //   margin-top: 36px !important;
                    margin-left: 16px;
                    //   margin-right: 22px;
                    margin-top: 88px;
                    width: fit-content;
                    height: auto !important;
                    max-height: 80vh;
                    width: 100% !important;
                    //   min-width:94%  !important;
                    //   max-height: 100vh !important;
                    border-radius: 0px 32px 0px 0px !important;
                    border-top: 3px solid #198430 !important;
                    border-right: 3px solid #198430 !important;



                }
            }

        }
    }

    @media only screen and (max-width: 770px) {
        .section-two {
            img {
                width: 91.8% !important;
                min-width: 91.8% !important;
                margin-left: 12px !important;
            }

            p {
                display: none !important;
            }
        }
    }

   

    @media only screen and (max-width: 440px) {

        .section-two {
            img {
                height: auto !important;
                min-height: auto !important;
                height: 342px !important;
                max-height: 342px !important;
                min-height: 342px !important;

            }

            .mobile-background {
                height: 44% !important;
                min-height: 422px !important;
            }
        }

    }

}