#work-main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: 42px;
    padding-left: 36px;
        .heading {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 58px;
            line-height: 113%;
            /* or 45px */


            /* dark/text/secondary */

            color: #99A29E;
            position: relative;
            animation-name: slide-up;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }

        .work-container {
            // background-color: blue;
            // min-width: 864px;
            position: relative;
            animation-name: slide-up;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            // width: 120%;
            gap: 32px;
            // margin-top: 100px;
            display: flex;
            // background-color: red;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            // width: fit-content;
            a{
                text-decoration: none;
            }
            div {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 100%;
                letter-spacing: 0.02em;
                color: #ECEEED;
                cursor: pointer;
                text-decoration: none;
                user-select: none !important;

                &:hover {

                    text-decoration: underline;
                }
            }
        }


    
}
@media only screen and (max-width: 948px) {
    #work-main{
        min-height: fit-content !important;
        padding-left: 22px !important;
        padding-top: 36px;
        gap: 22px;
        .heading{
            font-size: 44px;
        }
        .work-container{
            div{
                font-size: 20px !important;
            }
        }
    }
}